$min-cream: #EFF7F6;
$space-cadet: #2D3047;
$lightslate-gray: #77878B;



$white: white;



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;900&display=swap');

$font-main: 'Poppins', sans-serif;