@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.admin {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: "Montserrat", sans-serif;
  display: flex;
}
.admin__dashboard {
  width: 20vw;
  min-height: 100vh;
  background-color: #FDFDFF;
  box-shadow: 0px 0px 15px #f0f0f0;
}
.admin__dashboard--heading {
  box-sizing: border-box;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}
.admin__dashboard__nav {
  margin-top: 28px;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
}
.admin__dashboard__nav--mainlink {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  line-height: 27px;
  transition: all 250ms ease-in-out;
}
.admin__dashboard__nav--mainlink-icon {
  margin-right: 5px;
}
.admin__dashboard__nav--mainlink:hover {
  color: rgb(150, 150, 150);
}
.admin__dashboard__nav--main {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  line-height: 27px;
}
.admin__dashboard__nav--main-icon {
  margin-right: 5px;
}
.admin__dashboard__nav--link {
  text-decoration: none;
  color: black;
  line-height: 25px;
  margin-left: 15px;
}
.admin__content {
  width: 80vw;
  margin: 0px 20px;
  height: -moz-fit-content;
  height: fit-content;
}
.admin__content__nav {
  margin-top: 10px;
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(230, 230, 230);
}
.admin__content__nav__box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.admin__content__nav__box__auth {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin__content__nav__box__auth--user {
  font-size: 14px;
}
.admin__content__nav__box__auth--logout {
  font-size: 12px;
}
.admin__content__box {
  width: 100%;
  height: 93vh;
}

.collapsible {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all 250ms ease-in-out;
}

.active, .collapsible:hover {
  border-bottom: 2px solid rgb(150, 150, 150);
  color: black;
}

.collapsible:after {
  content: "+";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "−";
}

.content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}
