@import '../reset.scss';
@import "../variables.scss";

.admin {

    width: 100%;
    min-height: 100vh;
    position: relative;
    // background-color: azure;
    font-family: $font-main;
    display: flex;

    &__dashboard {

        width: 20vw;
        min-height: 100vh;
        background-color: $bck-color-1;
        box-shadow: 0px 0px 15px $box-shadow-1;

        &--heading {

            box-sizing: border-box;
            text-align: center;
            padding-top: 50px;
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1px;

        }

        &__nav {

            margin-top: 28px;
            padding: 0px 30px;
            display: flex;
            flex-direction: column;

            &--mainlink {

                margin-top: 30px;
                font-weight: 500;
                font-size: 16px;
                color: $color-black;
                text-decoration: none;
                line-height: 27px;
                transition: $basic-transition;

                &-icon {

                    margin-right: 5px;

                }

                &:hover {

                    color: $basic-link-color;

                }

            }

            &--main {

                margin-top: 30px;
                font-weight: 500;
                font-size: 16px;
                color: $color-black;
                text-decoration: none;
                line-height: 27px;
                // margin-bottom: 5px;

                &-icon {

                    margin-right: 5px;

                }

            }

            &--link {

                text-decoration: none;
                color: $color-black;
                line-height: 25px;
                margin-left: 15px;

            }
        }

    }

    &__content {

        width: 80vw;
        margin: 0px 20px;
        height: fit-content;

        &__nav {
            margin-top: 10px;
            width: 100%;
            height: 7vh;
            display: flex;
            align-items: center;
            border-bottom: 2px solid $border-color-light;

            &__box {

                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &__auth {

                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &--user {

                        font-size: 14px;

                    }

                    &--logout {

                        font-size: 12px;
                        
                    }

                }

            }

        }

        &__box {

            width: 100%;
            height: 93vh;

        }

    }

}

// For Colapsible Content

.collapsible {
    background-color: transparent;
    font-family: $font-main;
    text-align: left;
    font-size: 16px;
    border: none;
    border-bottom:2px solid transparent;
    transition: $basic-transition;

  }
  
  .active, .collapsible:hover {
    border-bottom:2px solid $basic-link-color;
    color: $color-black;
  }
  
  .collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    display:flex; 
    flex-direction: column; 
    // padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
  }
