@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  background-color: rgb(202, 202, 202);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: rgb(150, 150, 150);
}

th, td {
  text-align: left;
  line-height: 20px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.hidden {
  visibility: hidden;
}

.cars {
  width: 95%;
  margin: 0px auto;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 0px 10px #f0f0f0;
  border-radius: 4px;
  margin-top: 40px;
  position: relative;
  padding-bottom: 100px;
}
.cars__paginators {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 100px;
  display: flex;
  align-items: center;
}
.cars__paginators--index {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid rgb(230, 230, 230);
  padding: 5px 10px;
  border-radius: 2px;
  margin: 0px 5px;
}
.cars__paginators--link {
  text-decoration: none;
  color: black;
  border: 1px solid rgb(230, 230, 230);
  padding: 5px 10px;
  border-radius: 2px;
  transition: 150ms ease-in;
  font-weight: 600;
}
.cars__paginators--link:hover {
  background-color: rgb(230, 230, 230);
}
.cars__nav {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 2px solid rgb(230, 230, 230);
  box-sizing: border-box;
}
.cars__nav--button {
  font-size: 12px;
  text-decoration: none;
  color: white;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
}
.cars__nav--button:hover {
  box-shadow: 0px 0px 5px gray;
}
.cars__box {
  width: 97%;
  margin: 0px auto;
  border: 2px solid rgb(230, 230, 230);
  height: 120px;
  margin-top: 20px;
  border-radius: 4px;
  border-left: 7px solid rgb(192, 251, 104);
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}
.cars__box:hover {
  box-shadow: 0px 0px 20px #f0f0f0;
}
.cars__box--heading {
  font-size: 14px;
  color: #77878B;
}
.cars__box--watch {
  position: absolute;
  right: 60px;
  top: 10px;
  padding: 4px;
  border: 2px solid #77878B;
  border-radius: 3px;
  color: #77878B;
  font-size: 10px;
  transition: all 250ms ease-in-out;
}
.cars__box--watch:hover {
  color: rgb(151, 197, 82);
  border-color: rgb(151, 197, 82);
}
.cars__box--edit {
  position: absolute;
  right: 35px;
  top: 10px;
  padding: 4px;
  border: 2px solid #77878B;
  border-radius: 3px;
  color: #77878B;
  font-size: 10px;
  transition: all 250ms ease-in-out;
}
.cars__box--edit:hover {
  color: rgb(23, 77, 255);
  border-color: rgb(23, 77, 255);
}
.cars__box--delete {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 4px;
  border: 2px solid #77878B;
  border-radius: 3px;
  color: #77878B;
  font-size: 10px;
  transition: all 250ms ease-in-out;
}
.cars__box--delete:hover {
  color: rgb(220, 56, 56);
  border-color: rgb(220, 56, 56);
}
.cars__box--data {
  font-size: 14px;
  color: #77878B;
  margin-top: 5px;
}
.cars__box__info {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
}
.cars__box__info__content {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.cars__box--date {
  font-size: 11px;
  color: #77878B;
}
.cars__table {
  width: 100%;
  margin: 0px auto;
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

table {
  width: 100%;
}

th {
  background-color: rgb(202, 202, 202);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: rgb(150, 150, 150);
}

th, td {
  text-align: left;
  line-height: 20px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.hidden {
  visibility: hidden;
}

.strong {
  font-weight: bold;
}
