@import '../reset.scss';
@import "../variables.scss";

.users {

    width: 100%;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: antiquewhite;

    &__box {

        width: 90%;
        height: 90%;
        background-color: #fff;
        border-radius: 10px;

    }

}